/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* Шапка */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Страница */
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  
  /* Контейнер для всей страницы */
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Основной контент */
  .main-content {
    flex: 1; /* Растягивается, чтобы занять всё пространство */
    padding: 20px;
    overflow: hidden; /* Чтобы контент не уходил в футер */
  }
  
  /* Слайдер */
  .news-slider {
    width: 100%;
    height: 400px; /* Высота контейнера слайдера */
    overflow-y: hidden; /* Убираем полосу прокрутки */
    position: relative;
  }
  
  /* Футер */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Снимаем "наезд" на контент */
    bottom: 0px;
  }

/* Футер */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.footer-left img {
    margin-top: 5px;
}